In [12]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [4]:
talentdata = pd.read_csv("talent_data.csv")
tDecisionTreeClassifier

    cgpa  cc     company
0    6.0   1      HiTech
1    6.5   1      HiTech
2    6.7   1      HiTech
3    6.9   1      HiTech
4    6.0   0  AgrataTech
5    6.5   0  AgrataTech
6    6.7   0  AgrataTech
7    6.9   0  AgrataTech
8    7.0   1   AurionPro
9    7.5   1   AurionPro
10   7.7   1   AurionPro
11   7.9   1   AurionPro
12   7.0   0    Nexsales
13   7.5   0    Nexsales
14   7.7   0    Nexsales
15   7.9   0    Nexsales
16   8.0   1     Swabhav
17   8.5   1     Swabhav
18   8.7   1     Swabhav
19   8.9   1     Swabhav
20   8.0   0    CyberInc
21   8.5   0    CyberInc
22   8.7   0    CyberInc
23   8.9   0    CyberInc

In [14]:
X = talentdata.drop(columns=['company'])
y = talentdata.company

In [17]:
y

0         HiTech
1         HiTech
2         HiTech
3         HiTech
4     AgrataTech
5     AgrataTech
6     AgrataTech
7     AgrataTech
8      AurionPro
9      AurionPro
10     AurionPro
11     AurionPro
12      Nexsales
13      Nexsales
14      Nexsales
15      Nexsales
16       Swabhav
17       Swabhav
18       Swabhav
19       Swabhav
20      CyberInc
21      CyberInc
22      CyberInc
23      CyberInc
Name: company, dtype: object

In [18]:
model = DecisionTreeClassifier()
model.fit(X,y);

In [21]:
model.predict([[9,0],[9,1]])

array(['CyberInc', 'Swabhav'], dtype=object)

sklearn.tree._classes.DecisionTreeClassifier